<style>
    body{
        background-color: black;
    }
p.font1 {
        text-align: center;
    color: white;
    font-family:"Lato Heavy";
    font-size: 50px;
    text-shadow: 4px 3px black;
    font-weight: bold;
}
p.font2 {
    color: white;
    font-family:"Lato Heavy";
    font-size: 30px;
    text-shadow: 4px 3px black;
    font-weight: bold;
}
p.font3 {
    color: white;
    font-family:"Lato Heavy";
    font-size: 20px;
    text-shadow: 4px 3px black;
    font-weight: bold;
}
    a {
     font-size: 25px;
    font-family:"Lato Heavy";
    color: white;
    text-shadow: 3px 2px black;
    text-decoration:none;

}
</style>
<p><b><a href="/" target="_blank"><-Home</a></b></p>
<p class="font1">About</p>
<p class="font2">Contacts</p>
<p class="font3">Bitca Ernest : 078079134</p>
<p class="font3">Oala Irina : 079878423</p>
<p class="font2">Tools:</p>
<p class="font3">Django</p>
<p class="font3">HTML</p>
<p class="font3">CSS</p>

