<style>
html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#div1 {}
#div2 {}
#div3 {}
#div4 {}

.bgimg1 {
    background-image: url('https://wallpaperscraft.com/image/ford_mustang_aristo_night_cars_108990_1920x1080.jpg');
    background-size: contain;
        background-repeat: no-repeat;
    background-size:cover;
}
.bgimg2 {
    background-image: url('http://38.media.tumblr.com/d483f1a18b18b5f29c7089908d151386/tumblr_nazctmUqOI1tv4hrso3_1280.jpg');
    background-size: contain;
    background-size:cover;
}
.bgimg3 {
    background-image: url('http://www.wallpapers.rs/wallpapers/cat_and_technology-1920x1080.jpg');
    background-size: contain;
    background-size: cover;

}
.bgimg4 {
    background-image: url('http://www.loversiq.com/daut/as/f/e/exterior-design-modern-house-elevation-architecture-excerpt-homes_beautiful-houses-interior-and-exterior-photos_interior-design_interior-design-software-free-major-school-designing-living-room-portfol.jpg');
    background-size: contain;
    background-size:cover;
}
a {
     font-size: 25px;
    font-family:"Lato Heavy";
    color: white;
    text-shadow: 3px 2px black;
    text-decoration:none;
}
a.two
{
     font-size: 25px;
    font-family:"Lato Heavy";
    color: white;
    text-shadow: 3px 2px black;
    text-align: left;
    text-decoration:none;
     text-decoration:none;
     position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
<a class="two" href = "/">Home</a>
<div style="text-align:center" id="div1" class="bgimg1">
    <a href = "/images/1">Cars</a>
</div>

<div style="text-align:center" id="div2" class="bgimg2">
    <a href = "/images/2">Nature</a>
</div>

<div style="text-align:center" id="div3" class="bgimg3">
    <a href = "/images/3">Technology</a>
</div>

<div style="text-align:center" id="div4" class="bgimg4">
    <a href = "/images/4">Architecture Design</a>
</div>
